.container{
    padding-top: 20px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
}

.container h1{
    padding: 20px;
}


.containerStyle{
    padding-top: 40px;
    padding-right: 150px;
    padding-left: 150px;
    padding-bottom: 40px;
    background-color: #141a1e;
}

.containerSlideShow{
    padding: 5px;
}

#carousel {
    position: relative;
    overflow: auto;
    background-color: transparent;
    border-radius: 25px;
    margin-top:50px;
    padding: 50px;
    height:auto;
    max-width: 1350px;
    width:auto;

}

.carousel{
    margin: auto;
    text-align: center;
}

#slide{
    height:650px;
    width:350px;
}
